.heading1{
    width: 177px;
  height: 24px;
    color: #004162;
    font-family: 'SitkaText', Times, serif;
    font-size: 26px;
    font-weight: bold;
    margin-left: 70px;
    padding-top: 6px
}
.signIn{
    font-family: 'Roboto', Times, serif;
    font-size: 18px;
    padding-top: 50px;
    font-weight: 900;
    color: #000000;
    padding-bottom: -15px;
}