.logoText{
    margin-left: 60px;
    width: 143px;
  height: 24px;
  font-family: SitkaText;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: left;
  color: #c4ecf1;
}