.heading{
    color: #000000;
    font-family:"Arial";
  font-size: 18px;
  font-weight: bolder;
    margin-top: 10px;
    margin-left: 4px;
    padding-top: 10px;
}
.para{
    color: grey;
    font-family: 'Roboto';
    margin-left: 4px;
    margin-top: -4px;
    font-size: 18px;
}
.button1{
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #004162 !important;
    border: none;
    outline: none;
    box-shadow: none;
}
.button1:hover{
    background-color: #004162 !important;
    outline: none;
    box-shadow: none;
}
.button1:active{
    outline: none;
    box-shadow: none;
}
.button1:focus{
    outline: none;
    box-shadow: none;
}
.table{
    margin-left: 20px;
}
.container{
    margin-left: 5px;
}

.MuiSelect-select.MuiSelect-select {
    color: black;
    font: Helvetica;
}

/* .MuiSelect-select{
    min-width: 220px !important;
} */

.MuiTableCell-alignRight {
    text-align: left !important;
    font: revert !important;
}

/* .MuiTableCell-root{

    padding-bottom: 0px 0px 5px 0px !important;
} */

.MuiTableCell-body { 
     padding: 0px !important; 
    /* line-height: 0 !important;  */
}

.MuiTableCell-head {
padding: 0px 0px 5px 0px !important;
}



.bottomDiv{
    position: relative;
    bottom: -28px;
    right: -77%;
}
