.formControl{
    margin-left:6px;
    width: 21px;
  }
  .selectEmpty{
    margin-top: 80px;
  }
  .heading2{
    color: #000000;
    font-family:"Arial";
  font-size: 18px;
  font-weight: bolder;
    margin-top: 5px;
    padding-right: 120px;
}
.para2{
    color:grey;
    font-family: "Roboto";
    margin-top: -4px;
    margin-left: 1px;
    font-size: "5px";
}
.sweetalert{
    width: 10px;
    height: 10px;
}